.video-container{
	/*background-color: blue;*/
	width: 96%;
	height: 176px;
}

.yt-img{
	/*background-color: red;*/
	width: 172px;
	height: 111px;
}

.yt-data{
	/*background-color: green;*/
	width: 80%;
	height: 111px;
	margin-top: -109px;
	margin-right: 185px;
}

.yt-delete{
/*	background-color: yellow;*/
	float: left;
	width: 35px;
	height: 111px;
	margin-left: -44px;
	margin-top: -111px;
}

.yt-img-thumbnail{
	width: 100%;
	height: 100%;
}

.yt-title{
	margin-top: 11px;
	margin-left: 5px;
}

.yt-desc{
	margin-top: 10px;
	margin-left: 2px;
	height: 104px;
	width: 100%;
}


.yt-delete-btn{
	margin-top: 42px;
	margin-left: 4px;
}

.video_item{
	margin-bottom: 15px;
}

.croped-image-item{
	width: 559px;
	margin-top: 36px;
}

.publish-date-margin {
    margin-right: 20px;
}

.increase-margin-left {
    margin-left: 10px;
}

#spinner{
	display: none;
}

#videos-container{
	display: block;
	height: 100%;
	width: 100%;
	margin-top: 20px;

}

#videos_list{
	list-style: none;
}

#controls-container{
	margin-top: 55px;
}

#status-container{
	width: 100%;
}

