.posts-container{
	list-style-type: none;
}

.status-container{
	height: 20px;
}

.author-status-container{
	width: 50%;
	height: 29px;
	margin-right: 50%;
	height: 52px;
}

.publisher-container{
	float: left;
}