#bread-crumb-first:after{
	display: inline;
	font-family: FontAwesome;
	font-size: 14px;
	content: "\f104";
	color: #b2b6bf;
	margin-left: 2px;
	padding: 0 2px 0 5px;
	position: relative;
	top: 1px;
}